<div class="engage-bay-source-form engagebay-forms" data-id="6037637702877184">
    <form class="form form-style-form1" onsubmit="window.EhForm.submit_form(event,this)" style="background-color:#4da49d;max-width:550px;background-position:0% 0%; color: white;" data-id="6037637702877184"> 

        <fieldset> 
            <!-- Form Name --> 
            <h3 class="font-weight-bold" style="text-transform: uppercase; font-size: 20px;">Iscriviti alla nostra Newsletter</h3> 
            <div class="form-description">
                <p style="color: white;
                font-size: 20px;">riceverai le ultime notizie direttamente nella tua email.</p><br>
            </div> 
            <div class="form-group"> 
                <div class="controls"> 
                    <input data-ebay_field="email" data-ebay_add_as="" id="email" title="" name="email" type="email" style="background-color:#fff;" placeholder="Indirizzo email" class="form-control" required="true"> 
                </div> 
            </div> 
            <div class="form-group"> 
                <div> 
                    <button type="submit" class="submit-btn" style="color:#fff;background-color:#ffc107;">
                        <p style="text-transform: uppercase; font-weight: 700;">Invia</p>
                    </button> 
                    <br> 
                    <span id="error-msg"></span> 
                </div> 
            </div> 
        </fieldset>

        <div class="error-success-container" style="color: white;"></div> 
    </form> 
</div>