<div class="engage-bay-source-form engagebay-forms" data-id="6689474420408320">
    <form class="form form-style-form7  form-size-700px" onsubmit="window.EhForm.submit_form(event,this)" style="background-color: #4da49d; color: white; max-width: fit-content;" data-id="6689474420408320"> 
        <div class="form-content"> 
            
            <fieldset style="padding: 10px 36px 14px 36px;"> 
                <!-- Form Name --> 
                <h3 class="font-weight-bold" style="text-transform: uppercase;">
                    Iscriviti alla nostra Newsletter
                </h3> 
                <div class="form-description">
                    <p style="color: white;
                    font-size: 20px;">riceverai le ultime notizie direttamente nella tua email.<br>&nbsp;</p>
                </div> 
                <div class="form-group"> 
                    <div class="controls"> 
                        <input data-ebay_field="email" data-ebay_add_as="" id="email" title="" name="email" type="email" style="background-color:#fff;" placeholder="Indirizzo email" class="form-control" required="true"> 
                    </div> 
                </div> 
                <div class="form-group">
                    <div> 
                        <button type="submit" class="submit-btn" style="color: #fff;
                        background-color: #ffc107;
                        width: 150px;">
                            <p style="text-transform: uppercase;
                            font-weight: 700;">Invia</p>
                        </button> 
                        <br>
                        <span id="error-msg"></span> 
                    </div> 
                </div>  
            </fieldset> 
            <div class="error-success-container"></div>  
        </div>
    </form> 
</div>